<!-- Footer Type-1 -->
<footer class="footer footer-type-1 bg-dark">
  <div class="bottom-footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 copyright text-center">
          <span>
            © 2017 CodeKiwi • <a href="/privacy">Privacy</a> • <a href="/contact">Contact</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</footer> <!-- end footer -->
<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer> -->
