<!-- Newsletter -->
<div class="widget newsletter">
  <div class="heading-lines">
    <h3 class="widget-title heading"><img src="/assets/img/superyacht-guest-list.png" /></h3>
  </div>
  <p>This party is invite only, get on the guest list. <a href="/projects/2017/02/crew_only_no_passengers">Find out why</a></p>
  <form class="validate relative newsletter-form" action="//joshmeetworld.us15.list-manage.com/subscribe/post?u=27f8796bb9a511ec1d9760d97&amp;id=90cacc3d6f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
  <input type="submit" value="Subscribe" name="subscribe" id="submit-button" class="btn btn-lg btn-color">
  </form>
</div>
