
<!-- Instagram Feed -->
<div class="instagram-feed text-center">
<h3 class="heading uppercase">Instagram</h3>
<h5 class="heading uppercase mb-30">follow <a href="http://instagram.com/codekiwi">@codekiwi</a></h5>
<ul id="instafeed-row"></ul>
</div>

<div class="widget-social">
<div class="social-icons text-center">
  <a href="http://instagram.com/codekiwi">
    <i class="fa fa-instagram"></i>
    <span>instagram</span>
  </a>
  <a href="http://facebook.com/codekiwi">
    <i class="fa fa-facebook"></i>
    <span>facebook</span>
  </a>
  <a href="https://twitter.com/codekiwi">
    <i class="fa fa-twitter"></i>
    <span>twitter</span>
  </a>
  <a href="/feed.xml">
    <i class="fa fa-rss"></i>
    <span>rss</span>
  </a>
</div>
</div>
