<!-- Newsletter -->
<div class="instagram-feed text-center">
<h3 class="heading uppercase">Join me on my journey</h3>
<h5 class="heading mb-30">If you liked this post, come join me on my Journey - if for no other reason than to see how this 'Location independent Entrepreneur' experiment goes.</h5>

<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <div class="widget newsletter">
          <form class="validate relative newsletter-form" action="//joshmeetworld.us15.list-manage.com/subscribe/post?u=27f8796bb9a511ec1d9760d97&amp;id=90cacc3d6f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
          <input type="submit" value="Subscribe" name="subscribe" id="submit-button" class="btn btn-lg btn-color">
          </form>
        </div>
    </div>
</div>
