---
layout: default
---
<!-- Content -->
<section class="content blog-standard pt-mdm-50">
  <div class="container relative">
    <div class="row">
        <div class="entry-header">
            <h1 class="heading underline-title uppercase">{{page.category}}</h1>
            <!-- TODO: This is shit - fix it -->
            {% unless page.content == '' %}
                <p>{{ page.content }}</p>
            {% endunless %}
            {% if page.category == 'antipodes'%}
            <div class="big-map">
              <iframe src="https://embed.alpacamaps.com/a77ea8f8-e91b-11e6-a4a7-024bc0398b11/embed" height="650" style="" allowFullScreen></iframe>
            </div>
            {% endif %}
            {% if page.category == 'europe'%}
            <div class="big-map">
              <iframe src="https://embed.alpacamaps.com/665cbdbe-1907-11e7-a4a7-024bc0398b11/embed" height="650" style="" allowFullScreen></iframe>
            </div>
            {% endif %}
            {% if page.category == 'asia'%}
            <div class="big-map">
              <iframe src="https://embed.alpacamaps.com/ece64554-7b29-11e7-a4a7-024bc0398b11/embed" height="650" style="" allowFullScreen></iframe>
            </div>
            {% endif %}
        </div>
      <!-- post content -->
      <div class="col-md-9 post-content mb-50">

        <!-- list posts -->
        <div class="row items-list">

        {% for post in site.categories[page.category] %}
        <article class="entry-item clearfix">
          <div class="col-sm-5">
            <div class="entry-img">
              <a href="{{post.url}}">
                <img src="/assets/img/heros/{{post.hero}}-small.png" alt="">
              </a>
            </div>
          </div>

          <div class="col-sm-7">
            <div class="entry-header">
              <h2 class="entry-title">
                <a href="{{post.url}}">{{post.title}}</a>
              </h2>
            </div>
            <div class="entry-wrap">
              <div class="entry">
                <div class="entry-content">
                  {{post.excerpt}}
                </div>
                <div class="entry-meta-wrap clearfix">
                  <ul class="entry-meta">
                    <li class="entry-date">
                      <a href="#">{{post.date | date_to_string}}</a>
                    </li>
                    <!-- <li class="entry-comments">
                      <a href="blog-single.html">2 Comments</a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}

        </div> <!-- end list posts -->
<!--

        <div class="row mt-20">
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-md btn-stroke" id="load-more">Load More</a>
          </div>
        </div> -->


      </div> <!-- end col -->

      <!-- Sidebar -->
      {% include sidebar.html %}
      <!-- end sidebar -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end content -->
