---
layout: default
title: 'Josh meet world'
---

<section class="header-wrap hero-section hero-img">
  <div class="container">
    <div class="hero-holder">
      <h1 class="white mb-0">Hi, I'm Josh<br>I travel, work and write about it</h1>
    </div>
  </div>
</section>

<div class="content-wrapper oh">

  <!-- Latest Stories -->
  <section class="section-wrap latest-stories pb-0">
    <div class="container-fluid nopadding">

      <div class="heading-row text-center mb-40">
        <h2 class="heading uppercase small">Latest Adventures</h2>
      </div>

      <div id="main-slider" class="flickity-slider-wrap">
          {% for post in site.posts limit:5 %}
          <div class="gallery-cell">
            <article>
              <a href="{{post.url}}" class="entry-img">
                <img src="assets/img/heros/{{ post.hero }}-small.png" alt="">
                <span class="entry-category">{{site.category_titles[post.categories.first]}}</span>
              </a>
              <div class="entry text-center">
                <h4 class="entry-title uppercase"><a href="{{ post.url }}">{{post.title}}</a></h4>
                <span class="entry-date">{{ post.date | date_to_string }}</span>
              </div>
            </article>
          </div>
          {% endfor %}
      </div>
    </div>
  </section> <!-- end latest stories -->

  <!-- Content -->
  <section class="content blog-standard">
    <div class="container relative">
      <div class="row">
        <!-- post content -->
        <div class="col-md-9 post-content mb-50">

        {% assign counter = 0 %}
        {% for post in site.posts %}
        {% if counter == 0 %}
            <!-- large post -->
            <article class="entry-item large-post">

              <div class="entry-header">
                <a href="/{{post.categories | first }}" class="entry-category">{{site.category_titles[post.categories.first]}}</a>
                <h2 class="entry-title">
                  <a href="{{ post.url }}">{{post.title}}</a>
                </h2>
              </div>

              <div class="entry-img">
                <a href="{{ post.url }}">
                  <img src="assets/img/heros/{{ post.hero }}-hero.png" alt="">
                </a>
              </div>

              <div class="entry-wrap">
                <div class="entry">

                  <div class="entry-content">
                    <p>{{ post.excerpt }}
                    </p>
                    <div class="text-center">
                      <a href="{{ post.url }}" class="read-more underline-link">Read More</a>
                    </div>
                  </div>

                  <div class="entry-meta-wrap clearfix">
                    <ul class="entry-meta">
                      <li class="entry-date">
                        <a href="#">{{post.date | date_to_string}}</a>
                      </li>
                      <!-- <li class="entry-comments">
                        <a href="blog-single.html">2 Comments</a>
                      </li> -->
                    </ul>

                    <div class="social-icons right">
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-pinterest-p"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-heart"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </article> <!-- end large post -->
        {% else %}
            <!-- grid posts -->
              <div class="col-sm-6">
                <article class="entry-item">
                  <div class="entry-img">
                    <a href="{{post.url}}">
                      <img src="assets/img/heros/{{ post.hero }}-small.png" alt="">
                    </a>
                  </div>
                  <div class="entry-header">
                    <a href="#" class="entry-category">{{site.category_titles[post.categories.first]}}</a>
                    <h2 class="entry-title">
                      <a href="{{post.url}}">{{ post.title }}</a>
                    </h2>
                  </div>
                  <div class="entry-wrap">
                    <div class="entry">
                      <div class="entry-content">
                        <p>{{ post.excerpt }}
                        </p>
                      </div>
                      <div class="entry-meta-wrap clearfix">
                        <ul class="entry-meta">
                          <li class="entry-date">
                            <a href="#">{{post.date | date_to_string}}</a>
                          </li>
                          <!-- <li class="entry-comments">
                            <a href="blog-single.html">2 Comments</a>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
        {% endif %}
        {% assign counter = counter | plus: 1 %}
        {% endfor %}
<!-- 
          <div class="row mt-20">
            <div class="col-md-12 text-center">
              <a href="#" class="btn btn-md btn-stroke" id="load-more">Load More</a>
            </div>
          </div> -->


        </div> <!-- end col -->

        {% include sidebar.html %}

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end content -->
