---
layout: default
---
<section class="section-wrap">
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1 article">

        <div class="text-center">
          <h1 class="heading underline-title uppercase">{{ page.title | escape }}</h1>
        </div>
        {{ content }}
        <iframe src="https://embed.alpacamaps.com/f20608f9-edcd-11e6-a4a7-024bc0398b11/embed" width="940" height="650" style="border:1px #d5d5d5 solid;min-height:300px" allowFullScreen></iframe>
    </div>
</div>
</section>
