---
layout: default
---
<section class="section-wrap">
  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-offset-1 article">

        <div class="text-center">
          <h1 class="heading underline-title uppercase">{{ page.title | escape }}</h1>
        </div>
        {{ content }}
        <ol>
            <div class="col-md-4">
                <h4 class="strike"><a href="/antipodes/">Antipodes</a></h4>
                <li class="strike">January - Melbourne, Australia</li>
                <li class="strike">February - Wellington, New Zealand</li>
                <li class="strike">March - Auckland, New Zealand</li>
            </div>
            <div class="col-md-4">
                <h4 class="strike"><a href="/europe/">Europe</a></h4>
                <li class="strike">April - Split, Croatia</li>
                <li class="strike">May - Prague, Czech Republic</li>
                <li class="strike">June - Lisbon, Portugal</li>
                <li class="strike">July - Sofia, Bulgaria</li>
            </div>
            <div class="col-md-4">
                <h4 class="strike">Asia</h4>
                <li class="strike">August - Hanoi, Vietnam</li>
                <li class="strike">September - Chiang Mai, Thailand</li>
                <li class="strike">October - Kyoto, Japan</li>
                <li class="strike">November - Krabi - Thailand, Kuala Lumpur - Malaysia, Bali - Indonesia</li>
            </div>
            <div class="col-md-4">
                <h4>South America</h4>
                <li class="strike">December - Lima, Peru</li>
                <li class="strike">January - Cartagena, Medellín - Colombia, Lima, Cuzco - Peru, La Paz, Uyuni - Bolivia, San Pedro, Santiago - Chile</li>
                <li class="strike">February -  Bogotá - Colombia, Buenos Aires - Argentina</li>
            </div>
            <div class="col-md-4">
                <h4>Central & North America</h4>
                <li class="strike">March - Mexico City, Mexico</li>
                <li class="strike">April - Yucatan - Mexico, Granada, San Juan del Sur - Nicaragua</li>
                <li>May - NYC, DC, Vegas, LA - United States</li>
            </div>
        </ol>
        <div class="big-map">
            <iframe src="https://embed.alpacamaps.com/f20608f9-edcd-11e6-a4a7-024bc0398b11/embed" height="650" style="border:1px #d5d5d5 solid;min-height:300px" allowFullScreen></iframe>
        </div>
    </div>
</div>
</section>
